<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mailtransfer.app</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/alexvelsmid/alexv-26/projects/mail-transfer/start_combined.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/alexvelsmid/alexv-26/projects/mail-transfer</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/alexvelsmid/alexv-26/projects/mail-transfer/venv/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/alexvelsmid/Library/Logs/mail-transfer.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/alexvelsmid/Library/Logs/mail-transfer.log</string>
</dict>
</plist>
